<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css2?family=Bangers&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/jass.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <title>TEST VIEW</title>
  </head>
  <body>

    <header class="display-flex justify-center p-2 bg-dark">
      <h1>
        <a href="/">PLAY-TIME-OVER</a>
      </h1>
      <div>
        <div class="text-right">
          <nav>
            {{#if logged_in}}
              <a class="no-button" id="logout">logout</a>
            {{/if}}
          </nav>
        </div>
      </div>
    </header>

    {{{body}}}

    {{#if logged_in}}
      <script src="/js/logout.js"></script>
    {{/if}}

  </body>
</html>