<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css2?family=Bangers&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/jass.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <title>PLAY-TIME-OVER</title>
  </head>
  <body>

    <header class="display-flex justify-center p-2 bg-dark">
      <h1>
        <a class="border-rad" href="/">PLAY-TIME-OVER</a>
      </h1>
    </header>
    <div class="text-center p-1">
      {{#if logged_in}}
        <button class="no-button" id="logout">LOGOUT</button>
        {{! button handler in js/logout.js }}
        <button class="no-button" id="playAgain">PLAY AGAIN</button>
        <div class="text-dark text-right welcome">
          <h2>Welcome, {{loggedUser}}!</h2>
        </div>
      {{/if}}
    </div>
    {{{body}}}

    {{#if logged_in}}
      <script src="/js/logout.js"></script>
    {{/if}}

  </body>

</html>