<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="https://fonts.googleapis.com/css2?family=Bangers&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link rel="stylesheet" href="/css/jass.css" />
  <link rel="stylesheet" href="/css/style.css" />
  <script src="https://kit.fontawesome.com/dcdce235c7.js" crossorigin="anonymous"></script>
  <title>PLAY-TIME-OVER</title>
</head>
<div>
  <canvas role="presentation" id="soloAnime"></canvas>
</div>

<body>
  <header class="display-flex justify-center p-2 bg-dark">
    <h1>
      <a class="border-rad" href="/">PLAY-TIME-OVER</a>
    </h1>
  </header>
  {{#if logged_in}}
  <div class="text-center p-1">
    <a class="waves-effect waves-light btn" id="level2">SECRET</a>
    <a class="waves-effect waves-light btn btnStyle" id="playAgain">START OVER</a>
    <a class="waves-effect waves-light btn " id="logout">LOGOUT</a>
  </div>
  {{/if}}
  </div>
  <footer id="github-div">
    <a class="github" href="https://github.com/js-Quest"><i class="fa-brands fa-square-github"></i>JS</a>
    <a class="github" href="https://github.com/rxs291"><i class="fa-brands fa-square-github"></i>rxs</a>
  </footer>
  {{{body}}}
  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}
  <script src="/js/soloAnime.js"></script>

  <body>