<div class="text-center">

  <h1 class="pt-2" id="to-play"><a href="/login" id="sign-in" class="border-rad"> Sign in</a>
    to Play!</h1>

  <p id="account">Dont have an account?
    <a class="signup neonText" href="/signup">Sign up!</a>
  </p>

</div>

<link href="https://fonts.googleapis.com/css2?family=Bangers&display=swap" rel="stylesheet" />
<link rel="stylesheet" href="/css/style.css" />
<!-- get rid of favicon error in console with the code below. -->
<link rel="shortcut icon" href="#" />

<div id="score-container">
  <h1 type="text" id="playerScore"></h1>
</div>


<div class="gameScreen">
  <div class="scoresContainer">
    <p class="text-center leaderboard">Leaderboards</p>
    <ol>
      {{#if highscores.length}}
      {{#each highscores as |highscore|}}
      <li>
        <div class="row mb-2">
          <div class="col-md-8">
            <h4>{{highscore.user.name}}</h4>
          </div>
          <div class="col-md-4">
            <h4>{{highscore.score}}</h4>
          </div>
        </div>
      </li>
      {{/each}}
      {{/if}}
    </ol>
  </div>
  <div>
    <canvas role="presentation" id="game-canvas"></canvas>
  </div>
</div>
<!-- parallax scrolling environment -->
<img id="layer1" src="/assets/images/layers/bubbles-layer.png" />
<img id="layer2" src="/assets/images/layers/layer2.png" />
<img id="layer3" src="/assets/images/layers/layer3.png" />
<img id="layer4" src="/assets/images/layers/layer4.png" />

<!-- characters -->
<img id="player" src="/assets/images/sprites/player.png" />
<img id="angler1" src="/assets/images/sprites/angler1.png" />
<img id="angler2" src="/assets/images/sprites/angler2.png" />
<img id="lucky" src="/assets/images/sprites/lucky.png" />
<img id="hivewhale" src="/assets/images/sprites/hivewhale.png" />
<img id="drone" src="/assets/images/sprites/drone.png" />
<img id="bulbwhale" src="/assets/images/sprites/bulbwhale.png" />
<img id="moonfish" src="/assets/images/sprites/moonfish.png" />
<img id="stalker" src="/assets/images/sprites/stalker.png" />
<img id="razorfin" src="/assets/images/sprites/razorfin.png" />

<!-- effects -->
<img id="gears" src="/assets/images/visual-effects/gears.png" />
<img id="smokeExplosion" src="/assets/images/visual-effects/smokeExplosion.png" />
<img id="fireExplosion" src="/assets/images/visual-effects/fireExplosion.png" />
<img id="shield" src="/assets/images/visual-effects/shield.png" />
<img id="fireball" src="/assets/images/sprites/fireball.png" />

{{! audio }}
<audio id="home-score" src="/assets/audio/theme-songs/home-score.mp3"></audio>
<script src="/js/highscore.js"></script>
<script src="/js/parentClasses.js"></script>
<script src="/js/idleGame.js"></script>
