{{#if logged_in}}
 <div class="text-dark text-right">
  <h2 >Welcome, {{loggedUser}}!</h2>
</div>
{{/if}}


<div class="text-center">

<p><a href="/login"> Sign in</a> to Play!</p>


<p>Dont have an account? <a href="/signup">Sign up!</a></p> 

</div>