




<h1 class="text-center pad-top-bottom">Sign Up Below!</h1>

    <form class="form signup-form">
      <div class="form-group pad-left2 pad-right2">
        <label for="name-signup"></label>
        <input class="form-input" type="text" id="name-signup" placeholder="Name"/>
      </div>
      <div class="form-group pad-left2 pad-right2">
        <label for="email-signup" ></label>
        <input class="form-input" placeholder="Example@email.com" type="text" id="email-signup" />
      </div>
      <div class="form-group pad-left2 pad-right2">
        <label for="password-signup" ></label>
        <input class="form-input" placeholder="Password" type="password" id="password-signup" />
      </div>
      <div class="form-group pad-left2 pad-right2" id="marg-top">
        <button class="btn btn-primary center-horizontal centerBtn pad-left pad-right" type="submit">signup</button>
      </div>
    </form>

    <script src="/js/signup.js"></script>