body {
  background-image: url(../assets/images/2205_w015_n001_829b_p15_829.jpg);
  background-size: cover;
}

h1 a {
  text-shadow: rgb(13, 46, 235) 0 0 10px;
  animation: shadows 1.5s infinite;
  transition: all .6s ease;
}

@keyframes shadows {
  0% {
    text-shadow: #48abe0 0 0 10px;
    box-shadow: 0px 0px 20px 10px #48abe0;
  }

  50% {
    text-shadow: blueviolet 0 0 10px;
    box-shadow: 0px 0px 20px 10px blueviolet;
  }

  75% {
    text-shadow: rebeccapurple 0 0 10px;
    box-shadow: 0px 0px 20px 10px rebeccapuprle;
  }

  100% {
    text-shadow: #48abe0 0 0 10px;
    box-shadow: 0px 0px 20px 10px #48abe0;
  }
}

#game-canvas {
  border: 5px solid black;
  background: rgb(242, 142, 10);
  max-width: 100%;
  max-height: 100%;
  /* center transition element in center of page */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Bangers", cursive;
  border-radius: 10px;
}

#layer1,
#layer2,
#layer3,
#layer4,
#player,
#angler1,
#angler2,
#lucky,
#projectile,
#gears,
#hivewhale,
#drone,
#smokeExplosion,
#fireExplosion,
#bulbwhale,
#moonfish,
#shield,
#fireball,
#stalker,
#razorfin,
#playerScore,
#violetCave {
  display: none;
}

#level2 {
  background-color: rgb(232, 140, 79);
  color: rgb(211, 120, 9);
  height: 36px;
  width: 110px;
  margin-top: 45px;
  border-radius: 10px;
  padding-bottom: 4%;
}

#logout {
  background-color: brown;
  color: white;
  margin-top: 45px;
  border-radius: 10px;
  text-align: center;
  padding-bottom: 4%;
}

#playAgain {
  background-color: rgb(42, 120, 165);
  color: white;
  margin-top: 45px;
  border-radius: 10px;
  padding-bottom: 4%;
}
#marg-top {
  margin-top: 5%;
}

#gary {
  max-width: 300px;
  max-height: 554px;
  border-radius: 15px;
}

#gary-text1 {
  font-size: 2rem;
  font-family: cursive;
  text-align: center;
  padding-top: 2.5rem;
}

#gary-text2 {
  font-size: 1.2rem;
  text-align: end;
  padding-right: 25%;
}

#login {
  padding-top: 3rem;
  padding-bottom: 1.5rem;
  font-size: 3.2rem;
}

#sign-in {
  font-size: 3rem;
  background-color: black;
}

#to-play {
  font-size: 3rem;
}

#account {
  font-size: 1.5rem;
}

.welcome {
  margin-right: 325px;
  margin-top: 5%;
  text-shadow: rgb(13, 46, 235) 0 0 10px;
  width: 100%;
}

.leaderboard {
  color: aqua;
  font-size: xx-large;
  text-decoration: underline;

}

.scoresContainer {

  width: 25%;
  height: 600px;
  background-color: black;
  border: 5px solid;
  border-color: purple;
  margin: 20px auto;
  float: left;
  position: absolute;
  top: 190px;
  left: 20px;
  opacity: 0.90;
  z-index: -1;
  border-radius: 10px;
  animation: shadows 1.5s infinite;
  transition: all .6s ease;
  color: white;

}

.signup {
  font-size: 1.8rem;
}

.pad-left {
  padding-left: 15%;
}

.pad-right {
  padding-right: 15%;
  padding-top: 1.5%;
  padding-bottom: 1.5%;
}

.pad-left2 {
  padding-left: 25%;
}

.pad-right2 {
  padding-right: 25%;
}

.center-horizontal {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.border-rad {
  border-radius: 15px;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-top: .1;
  padding-bottom: .1rem;
}

.text-center {
  text-align: center;
}

.pad-top-bottom {
  padding-top: 5%;
  padding-bottom: 5%;
}